html{
	background-color: #000;

	overflow: hidden;
}
div{
	background: url('https://sun9-10.userapi.com/s/v1/if2/K_BlZI3cZI7YBkqJDpIGuOXyJNE2utwjGUYHQHirZYvGfPKnmzPpWcJm6GPJof4ql_VH4qIO7qFqVbF-TiB3ieK6.jpg?size=737x618&quality=96&type=album') no-repeat;
	background-size: contain;
	background-position: center;
	background-color: rgb(0, 150, 0);
	background-blend-mode: difference;

	height: 100%;
	width: 100%;

	position: absolute;
	top:  50%;
	left:  50%;
	transform: translate(-50%, -50%) ;

	transition: all 1s ease ;
}
